<!doctype html>
<html>
	<head>
		<meta charset="urf-8">
		<title> Simple EPS Game</title>
		<link rel="stylesheet" href ="./static/main.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="./static/main.js"></script>
	</head>
	<body>
		<div id="scores">Scores:<input type="text" id="correct_value"></div>
		</div>

		<div id = "instructions">
		<h1> Instructions</h1>
		<ul>
			<li>This is a simple ESP game</li>
			<li>You will login as either Player A or Player B</li>
			<li>Please label the picture, you will score if you and your partner's label is the same</li>
		</ul>
		</div>
		<div id="player_a">	
		Player A type here:<input id="message_a" type="text">
		<div id="message_a_display" >
		</div>
		</div>
		
		<div id="player_b">
		Player B type here:<input id="message_b" type="text">
		<div id="message_b_display">
		</div>
		</div>
		<div id="correct_display">
	
		<div id="image_container">
			<img src="./static/images/family.jpg" width="575px">
		</div>
				
	</body>
	


</html>
