<!doctype html>
<html>
	<head>
		<meta charset="urf-8">
		<title> Simple EPS Game</title>
		<link rel="stylesheet" href ="./static/main.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="./static/main.js"></script>
	</head>
	<body>
		<div id="instructions">
		<ul>
			<li>This is a simple ESP game</li>
			<li>You will login as either Player A or Player b</li>
			<li>There are five pictures, you will have 30 secs for each</li>
			<li>Please label the picture, you will score if you and your partner's label is the same</li>
		</ul>
		</div>
		
		<div id="image_container">
			<img src="./static/image/">
		</div>
		
		
		<div id="message_a_display" >
		</div>
		<input id="message_a" type="text">

			
		<div id="message_b_display">
		</div>
		<input id="message_b" type="text">
		
		<div id="correct_display">
			<input type="text" id="correct_value">
		<div>

	</body>
	


</html>
